page-dashboard {
    .ios, .md {
        
           page-home {
        
               .scroll-content {
                   background-color: map-get($colors, light);
               }
        
               ion-card-header {
                   font-weight: bold;
               }
        
           }
        
       }

    select {
        width: 100%;
        padding: 5px;
        background: transparent;
    }
}
