<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.name}}'s Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="capitalize">
        <ion-grid>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Name </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.name}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5>
               <div *ngIf="selectedItem" class="emp_txt"> Number  </div>
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                <div class="emp_txt contact"> {{selectedItem.contactNo}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">NIC  </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.nic}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Date of Birth  </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.dob}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Address  </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.address}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Availability </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.availability}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Employee Type </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.empType}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Gender </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.gender}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Position </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.position}} </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="selectedItem" col-5>
                  <div class="emp_txt">Salary </div> 
              </ion-col>
              <ion-col col-1>:</ion-col>
              <ion-col *ngIf="selectedItem">
                   <div class="emp_txt"> {{selectedItem.basicSalary}} </div>
              </ion-col>
            </ion-row>
             
          </ion-grid>
    </ion-card-content>
  </ion-card>
   
    <ion-fab right bottom>
        <button ion-fab  id="" (click)="makeCall(selectedItem.contactNo)">
            <ion-icon name="call"></ion-icon>
          </button>
    </ion-fab>
</ion-content>
